@import 'fonts.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    background: #0E0E2C;
}

.logo {
    padding: 40px 0 40px 0;
}

.nav .container {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 54px;
}

.nav__item {
    color: #fff;
    font-weight: 400;
}

.btns {
    display: flex;
    align-items: center;
    column-gap: 27px;
}

.btn1 {
    padding: 10px 35px;
    color: #000;
    background: #FFBE0B;
    border-radius: 10px;
    font-weight: 400;
    border: 1px solid #FFBE0B;
}

.btn2 {
    padding: 10px 35px;
    color: #0E0E2C;
    border-radius: 10px;
    font-weight: 400;
    background: #FFBE0B;
    border: 1px solid #FFBE0B;
}

.btn2:hover {
    background: #0E0E2C;
    transition: 0.5s;
    color: #FFBE0B;
}

.btn1:hover {
    background: #0E0E2C;
    transition: 0.5s;
    color: #FFBE0B;
}

.header__main {
    background: #0E0E2C;
}

.header__main .container {
    padding-top: 135px;
    display: flex;
}

.guarant {
    padding: 7px 13px;
    color: var(--secondary, #3A86FF);
    background: var(--secondary-shade-1, #172656);
    max-width: 257px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

.title {
    font-size: 62px;
    font-weight: 700;
    line-height: 130%;
    color: var(--white, #FFF);
    margin-top: 10px;
    max-width: 700px;
    width: 100%;
}

.txt {
    color: var(--white-shade-1, #868695);
    font-weight: 400;
    line-height: 180%;
    max-width: 461px;
    width: 100%;
    margin-top: 35px;
}

.form {
    margin-top: 50px;
    border-radius: 18px;
    border: 1px solid var(--white-shade-2, #626276);
    max-width: 485px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
}

.emails {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header__inp {
    background: #0E0E2C;
    border-radius: 18px;
    outline: none;
    border: 1px solid #0E0E2C;
}

.header__inp::placeholder {
    color: var(--white-shade-2, #626276);
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}

.but {
    border-radius: 10px;
    background: var(--primary, #FFBE0B);
    padding: 15px 32px;
    border: 1px solid #FFBE0B;
    cursor: pointer;
    font-weight: 600;
    /* margin-left: 50px; */
    margin-top: 10px;
    margin-bottom: 10px;

}

.but:hover {
    background: #0E0E2C;
    transition: 0.5s;
    color: #FFBE0B;
}

.marks {
    display: flex;
    column-gap: 50px;
    padding-top: 32px;
}

.mark {
    display: flex;
    align-items: center;
}

.mark__bg {
    width: 30px;
    height: 30px;
    background: #3A86FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.mark__txt {
    padding-left: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.right__img {
    position: relative;
}

.progress__card {
    position: absolute;
    top: 270px;
    right: 20px;
    background: #fff;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: -12px 13px 30px 0px rgba(0, 0, 0, 0.10);
}

.progress__title {
    padding-top: 10px;
    color: #0E0E2C;
    font-weight: 600;
    font-size: 18px;
}

.progress__txt {
    color: #838394;
    font-size: 11px;
    font-weight: 400;
    padding-bottom: 26px;
}

.progress__btn {
    padding: 7px 30px;
    color: #fff;
    background: #3A86FF;
    margin-top: 21px;
    border-radius: 5px;
}

.mr__card {
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: -10px;
    background: #fff;
    width: 438.639px;
    height: 126.633px;
    border-radius: 10px;

}

.mr__center {
    padding-left: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
}

.mr__right {
    width: 45px;
    height: 45px;
    background: #3A86FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -22.5px;
    top: 43px;
}

.mr__txt {
    font-size: 12px;
    color: #838394;
    font-weight: 400;
}

.mr__title {
    color: #0E0E2C;
    font-weight: 900;
    font-size: 18px;
}

.mr__left {
    background: #FB5607;
    height: 165px;
    width: 153px;
    margin-left: 30px;
    position: absolute;
    bottom: 0;
}

.mr__img {
    position: absolute;
    z-index: 2;
    bottom: 0;
}

.right__img-bg {
    position: absolute;
    right: 20px;
}

.right__img-bg2 {
    position: absolute;
    right: 70px;
    top: 70px;
}

.card__card-img {
    position: absolute;
    top: -100px;
    z-index: 2;
    margin-left: 30px;
}

.card__card {
    background: orange;
    width: 153px;
    height: 150px;
    position: absolute;
    top: -16px;
    margin-left: 30px;
}

.right {
    position: relative;
}

.right__title {
    color: #0E0E2C;
    font-weight: 600;
    font-style: normal;
    line-height: 180%;
    max-width: 150px;
    width: 100%;
    border: 1px solid red;
    padding-right: 30px;
}

.right__p {
    color: #838394;
    font-size: 12px;
    font-weight: 400;
    padding-top: 4px;
}

.right2 {
    max-width: 45px;
    width: 100%;
    min-height: 45px;
    border-radius: 50%;
    background: #3A86FF;
    margin-left: 427px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1px;
    position: absolute;
}

.build {
    background: #0E0E2C;
    padding-top: 300px;
    padding-bottom: 50px;
}

.build .container {
    display: flex;
    align-items: center;
}

.build__title {
    font-weight: 700;
    line-height: 130%;
    color: #fff;
    padding-top: 20px;
    font-size: 39px;
}

.blocks {
    display: flex;
    padding-top: 90px;
    column-gap: 50px;
    align-items: center;
}

.block__title {
    font-size: 38px;
    color: #FFBE0B;
    font-weight: 700;
}

.block__txt {
    color: #868695;
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
}

.block__title2 {
    font-size: 38px;
    color: #FB5607;
    font-weight: 700;
}

.block__txt2 {
    color: #868695;
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
}

.hr {
    height: 80px;
}

.hover {
    background: #0E0E2C;
    padding-bottom: 50px;
}

.hover .container {
    display: flex;
    column-gap: 90px;
    align-items: center;
}

.hover__title {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    line-height: 130%;
    max-width: 533px;
    width: 100%;
    padding-top: 18px;
}

.hover__txt {
    padding-top: 35px;
    color: #868695;
    font-weight: 400;
    line-height: 180%;
    max-width: 461px;
    width: 100%;
}

.right__cards {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.card {
    padding: 24px 22px;
    max-width: 267px;
    width: 100%;
    border-radius: 10px;
}

.card__img1 {
    border-radius: 10px;
    background: var(--primary-shade-1, #3E3125);
    width: 73.258px;
    height: 66.281px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__title {
    font-size: 20px;
    color: #fff;
    padding-top: 30px;
}

.card__txt {
    color: var(--white-shade-1, #868695);
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    padding-top: 20px;
}

.card__img2 {
    border-radius: 10px;
    background: var(--primary-shade-1, #172656);
    width: 73.258px;
    height: 66.281px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__img3 {
    border-radius: 10px;
    background: var(--primary-shade-1, #3E0B39);
    width: 73.258px;
    height: 66.281px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__img4 {
    border-radius: 10px;
    background: var(--primary-shade-1, #3D1C25);
    width: 73.258px;
    height: 66.281px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    background: #1A1A3D;
    transition: 0.5s;
}

.krav {
    background: #0E0E2C;
    position: relative;
}

.krav .container {
    display: flex;
    column-gap: 100px;
}

.left__krav {
    max-width: 544px;
    width: 100%;
    min-height: 660px;
    background: #3A86FF;
    border-radius: 15px;
}

.krav__img {
    position: absolute;
    padding-top: 90px;
}

.left {
    position: relative;
}

.krav__title {
    padding-top: 20px;
    color: #fff;
    font-weight: 700;
    line-height: 130%;
    font-size: 39px;
    padding-bottom: 90px;
}

.seo__txts {
    display: flex;
}

.seo__title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    padding-left: 26px;
}

.header__main .continer {
    position: relative;
}

.lorem {
    color: #868695;
    padding-left: 57px;
    font-size: 14px;
    max-width: 360px;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 20px;

}

.sales {
    position: absolute;
    background: #fff;
    padding: 10px 35px;
    border-radius: 10px;
    left: 274px;
    bottom: -110px;
    max-width: 210px;
    width: 100%;
    min-height: 241px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.know {
    background: #0E0E2C;
    padding-top: 250px;
    padding-bottom: 100px;
}

.know__img2{
    background: #FFBE0B;
    position: relative;
    width: 544.635px;
    height: 564.155px;
    bottom: 0;
    border-radius: 20px;
}

.know__img{
    position: absolute;
    z-index: 2;
    bottom: 0;
}

.know .container {
    display: flex;
    align-items: center;
    column-gap: 115px;
}

.know__title {
    padding-top: 20px;
    color: #fff;
    font-weight: 700;
    line-height: 130%;
    font-size: 42px;
    padding-bottom: 35px;
}

.left__know {
    width: 50%;
    position: relative;
}

.know__txt {
    color: #868695;
    font-weight: 400;
    line-height: 180%;
    font-size: 17px;
}

.right {
    position: absolute;
    right: 170px;
    top: 100px;
}

.pol {
    position: absolute;
    top: 100px;
    left: 20px;
}

.pol2 {
    position: absolute;
    left: 15px;
    top: 247px;
}

.pol3 {
    position: absolute;
    top: 430px;
    left: 90px;
}

.pol4 {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.blur {
    position: absolute;
    bottom: -64px;
    right: 5px;
}

.right__know{
    position: relative;
}

.satis {
    position: absolute;
    background: #fff;
    border-radius: 10px;
    right: -66px;
    padding: 22px 36px;
    z-index: 3;
    bottom: -43px;
}

s {
    position: absolute;
    border: 10px solid #fff;
    right: 10px;
    
}

.satis__title {
    font-weight: 600;
    line-height: 130%;
    font-size: 24px;
    text-align: center;
}

.contact {
    padding-top: 120px;
    background: #0E0E2C;
    padding-bottom: 150px;
}

.contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.contact__txt {
    color: #868695;
    font-weight: 400;
    padding-top: 17px;
}

.form2 {
    margin-top: 50px;
    border-radius: 18px;
    border: 1px solid var(--white-shade-2, #626276);
    max-width: 485px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 22px;
}

.btn3 {
    border-radius: 10px;
    background: var(--primary, #FFBE0B);
    padding: 15px 32px;
    border: 1px solid #FFBE0B;
    cursor: pointer;
    font-weight: 600;
    margin-left: 50px;
    margin: 10px 10px;
}

.btn3:hover {
    background: #0E0E2C;
    transition: 0.5s;
    color: #FFBE0B;
}

.icons {
    margin: auto 0;
    column-gap: 40px;
    display: flex;
}